//* @group ----- Typography ----- */

$base-font-size: 12px;
$base-line-height: 18px;

$header-stack: 'Playfair Display', "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, serif;
$sub-header-stack: 'Playfair Display SC','Playfair Display', "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, serif;
$item-stack: 'Arvo', sans-serif;
$monospace-stack: 'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
//* @end */