//* @group ----- Typography ----- */

$base-font-size: 12px;
$base-line-height: 18px;

$title-stack: 'Playfair Display', "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, serif;
$header-stack: 'Playfair Display SC','Playfair Display', "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, serif;
$minor-header-stack: 'Arvo', sans-serif;
$monospace-stack: 'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
$blueprint-blue: #103c63;
$header-color: $blueprint-blue;
$underlay-color: $blueprint-blue;
$link-color: #369;
$highlight-color: #ca7;
//* @end */